// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    font-family: Raleway;
    background-color: $second-font-color;
}

html {
    scroll-behavior: smooth;
}

// menu/navbar

.navbar-brand img {
    padding: 1rem;
    height: 8rem;
}

a.navbar-brand {
    z-index: 1;
}

.navbar-nav {
    z-index: 1;
    padding: 1rem;
    background-color: transparent;
}

.navbar-light {
    .navbar-nav {
        .nav-link {
            font-size: 30px;
            color: $font-color;
        }
    }
}

.nav-link:hover {
    color: $main-color !important;
}

.nav-link:hover:after {
    width: 100%;
    left: 0;
}

.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    right: 0;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #4f9f2d, #4c9c2f, #93cd26);
    border-image-slice: 1;
    transition: width 0.5s ease 0s, right 0.5s ease 0s;
    width: 0;
}

.active a {
    color: $main-color !important;
    font-weight: 400;
}

.navbar-light {
    .navbar-toggler {
        z-index: 1;
        border: none;
    }
}

#collapsibleNavbar{
    background: transparent;
}

.fixed-top{
    background: transparent !important;
}

.navbar-collapse {
    z-index: 2;
    background-color: $second-font-color;
}

//canvas

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $second-font-color;
}

//landingpage/home

.landing {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    text-align: center;

    mark {
        background-color: transparent;
        color: $main-color;
    }
}

.mark {
    background-color: transparent;
    color: $main-color;
}

#section1 {
    .landing {
        z-index: 1;
        color: $font-color;
    }
}

.btn-outline-primary {
    border-color: $main-color;
    color: $font-color;
    transition: all ease 0.8s;
    background-color: transparent;
    font-size: 16px;
    line-height: 1.375em;
    font-weight: 400;
}

.btn-outline-primary:hover {
    box-shadow: inset 150px 0 0 0 $main-color;
    background-color: transparent;
}

// wie ben ik page

#section2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 100%;
}

// contact page

#section3 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 200%;
}
